	<!-- left side start-->
    <div class="left-side sticky-left-side">

        <!--logo and iconic logo start-->
        <div class="logo">
            <a href="/myquartz/index"><img src="<%= request.getContextPath() %>/assets/images/logo.png" alt=""></a>
        </div>

        <div class="logo-icon text-center">
            <a href="/myquartz/index"><img src="<%= request.getContextPath() %>/assets/images/logo_icon.png" alt=""></a>
        </div>
        <!--logo and iconic logo end-->

        <div class="left-side-inner">

            <!-- visible to small devices only -->
            <div class="visible-xs hidden-sm hidden-md hidden-lg">
                <div class="media logged-user">
                    <img alt="" src="<%= request.getContextPath() %>/assets/images/photos/user-avatar.png" class="media-object">
                    <div class="media-body">
                        <h4><a href="#">John Doe</a></h4>
                        <span>"Hello There..."</span>
                    </div>
                </div>

                <h5 class="left-nav-title">Account Information</h5>
                <ul class="nav nav-pills nav-stacked custom-nav">
                  <li><a href="#"><i class="fa fa-user"></i> <span>Profile</span></a></li>
                  <li><a href="#"><i class="fa fa-cog"></i> <span>Settings</span></a></li>
                  <li><a href="/myquartz/lock"><i class="fa fa-lock"></i> <span>Lock Screen</span></a></li>
                  <li><a href="/myquartz/logout"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
                </ul>
            </div>

            <!--sidebar nav start-->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li class="active"><a href="/myquartz/index"><i class="fa fa-home"></i> <span>Home</span></a></li>
                
                <li><a href="/myquartz/qrtz/jobs"><i class="fa fa-th-list"></i> <span>jobs</span></a></li>
                
                <li><a href="/myquartz/lock"><i class="fa fa-lock"></i> <span>Lock Screen</span></a></li>
                
                <li><a href="/myquartz/logout"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
                
                <!-- 
                <li class="menu-list"><a href="#"><i class="fa fa-laptop"></i> <span>Layouts</span></a>
                    <ul class="sub-menu-list">
                        <li ><a href="<%= request.getContextPath() %>/assets/blank_page.html"> Blank Page</a></li>
                        <li><a href="<%= request.getContextPath() %>/assets/boxed_view.html"> Boxed Page</a></li>
                        <li><a href="<%= request.getContextPath() %>/assets/leftmenu_collapsed_view.html"> Sidebar Collapsed</a></li>
                        <li><a href="<%= request.getContextPath() %>/assets/horizontal_menu.html"> Horizontal Menu</a></li>
                    </ul>
                </li>
                
                <li class="menu-list"><a href="#"><i class="fa fa-book"></i> <span>UI Elements</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="<%= request.getContextPath() %>/assets/general.html"> General</a></li>
                        <li><a href="<%= request.getContextPath() %>/assets/buttons.html"> Buttons</a></li>
                        <li><a href="<%= request.getContextPath() %>/assets/tabs-accordions.html"> Tabs & Accordions</a></li>
                        <li><a href="<%= request.getContextPath() %>/assets/typography.html"> Typography</a></li>
                        <li><a href="<%= request.getContextPath() %>/assets/slider.html"> Slider</a></li>
                        <li><a href="<%= request.getContextPath() %>/assets/panels.html"> Panels</a></li>
                    </ul>
                </li>
                
                <li class="menu-list"><a href="#"><i class="fa fa-cogs"></i> <span>Components</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="<%= request.getContextPath() %>/assets/grids.html"> Grids</a></li>
                        <li><a href="<%= request.getContextPath() %>/assets/gallery.html"> Media Gallery</a></li>
                        <li><a href="<%= request.getContextPath() %>/assets/calendar.html"> Calendar</a></li>
                        <li><a href="<%= request.getContextPath() %>/assets/tree_view.html"> Tree View</a></li>
                        <li><a href="<%= request.getContextPath() %>/assets/nestable.html"> Nestable</a></li>
                    </ul>
                </li>

                <li><a href="<%= request.getContextPath() %>/assets/fontawesome.html"><i class="fa fa-bullhorn"></i> <span>Fontawesome</span></a></li>

                <li class="menu-list"><a href="#"><i class="fa fa-envelope"></i> <span>Mail</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="<%= request.getContextPath() %>/assets/mail.html"> Inbox</a></li>
                        <li><a href="<%= request.getContextPath() %>/assets/mail_compose.html"> Compose Mail</a></li>
                        <li><a href="<%= request.getContextPath() %>/assets/mail_view.html"> View Mail</a></li>
                    </ul>
                </li>

                <li class="menu-list"><a href="#"><i class="fa fa-tasks"></i> <span>Forms</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="<%= request.getContextPath() %>/assets/form_layouts.html"> Form Layouts</a></li>
                        <li><a href="<%= request.getContextPath() %>/assets/form_advanced_components.html"> Advanced Components</a></li>
                        <li><a href="<%= request.getContextPath() %>/assets/form_wizard.html"> Form Wizards</a></li>
                        <li><a href="<%= request.getContextPath() %>/assets/form_validation.html"> Form Validation</a></li>
                        <li><a href="<%= request.getContextPath() %>/assets/editors.html"> Editors</a></li>
                        <li><a href="<%= request.getContextPath() %>/assets/inline_editors.html"> Inline Editors</a></li>
                        <li><a href="<%= request.getContextPath() %>/assets/pickers.html"> Pickers</a></li>
                        <li><a href="<%= request.getContextPath() %>/assets/dropzone.html"> Dropzone</a></li>
                    </ul>
                </li>
                
                <li class="menu-list"><a href="#"><i class="fa fa-bar-chart-o"></i> <span>Charts</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="<%= request.getContextPath() %>/assets/flot_chart.html"> Flot Charts</a></li>
                        <li><a href="<%= request.getContextPath() %>/assets/morris.html"> Morris Charts</a></li>
                        <li><a href="<%= request.getContextPath() %>/assets/chartjs.html"> Chartjs</a></li>
                        <li><a href="<%= request.getContextPath() %>/assets/c3chart.html"> C3 Charts</a></li>
                    </ul>
                </li>
                
                <li class="menu-list"><a href="#"><i class="fa fa-th-list"></i> <span>Data Tables</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="<%= request.getContextPath() %>/assets/basic_table.html"> Basic Table</a></li>
                        <li><a href="<%= request.getContextPath() %>/assets/dynamic_table.html"> Advanced Table</a></li>
                        <li><a href="<%= request.getContextPath() %>/assets/responsive_table.html"> Responsive Table</a></li>
                        <li><a href="<%= request.getContextPath() %>/assets/editable_table.html"> Edit Table</a></li>
                    </ul>
                </li>

                <li class="menu-list"><a href="#"><i class="fa fa-map-marker"></i> <span>Maps</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="<%= request.getContextPath() %>/assets/google_map.html"> Google Map</a></li>
                        <li><a href="<%= request.getContextPath() %>/assets/vector_map.html"> Vector Map</a></li>
                    </ul>
                </li>
                
                <li class="menu-list"><a href="#"><i class="fa fa-file-text"></i> <span>Extra Pages</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="<%= request.getContextPath() %>/assets/profile.html"> Profile</a></li>
                        <li><a href="<%= request.getContextPath() %>/assets/invoice.html"> Invoice</a></li>
                        <li><a href="<%= request.getContextPath() %>/assets/pricing_table.html"> Pricing Table</a></li>
                        <li><a href="<%= request.getContextPath() %>/assets/timeline.html"> Timeline</a></li>
                        <li><a href="<%= request.getContextPath() %>/assets/blog_list.html"> Blog List</a></li>
                        <li><a href="<%= request.getContextPath() %>/assets/blog_details.html"> Blog Details</a></li>
                        <li><a href="<%= request.getContextPath() %>/assets/directory.html"> Directory </a></li>
                        <li><a href="<%= request.getContextPath() %>/assets/chat.html"> Chat </a></li>
                        <li><a href="<%= request.getContextPath() %>/assets/404.html"> 404 Error</a></li>
                        <li><a href="<%= request.getContextPath() %>/assets/500.html"> 500 Error</a></li>
                        <li><a href="<%= request.getContextPath() %>/assets/registration.html"> Registration Page</a></li>
                        <li><a href="<%= request.getContextPath() %>/assets/lock_screen.html"> Lockscreen </a></li>
                    </ul>
                </li>
                 -->
            </ul>
            <!--sidebar nav end-->

        </div>
    </div>
    <!-- left side end-->